<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Recuperar Senha</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="recoveryForm" class="form" (ngSubmit)="recovery(recoveryForm.value)">
        <mat-form-field class="full-width">
          <input matInput placeholder="Email" formControlName="email" id="email">
          <mat-error *ngIf="hasError('email', 'required')">Informe o seu email</mat-error>
          <mat-error *ngIf="hasError('email', 'email')">Informe um email válido</mat-error>
        </mat-form-field>
        <button mat-stroked-button type="submit" class="btn-login">Recuperar</button>
      </form>
    </mat-card-content>
  </mat-card>

</div>