html,
body {
    height: 100%;
}

.register-wrapper {
    height: 100%;
    background: var(--backgroud-default);
}

.register-wrapper .form {
    min-width: 100%;
    max-width: 300px;
    width: 100%;
}

.register-wrapper .full-width,
.register-wrapper .btn-block {
    width: 100%;
}

.register-wrapper mat-card-header mat-card-title {
    font-size: 30px;
    margin: 0;
    color: var(--main-color);
}

.register-wrapper mat-card-header {
    text-align: center;
    width: 100%;
    display: block;
    font-weight: 900;
}

.register-wrapper mat-card-header mat-card-title {
    font-size: 30px;
    margin: 0;
}

.register-wrapper .mat-stroked-button {
    margin-top: 10px;
    border: 0;
    border-radius: 4px;
    height: 48px;
    font-size: 16px;
    background: var(--main-color);
    color: #ffffff;
    cursor: pointer;
}
