<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Alterar Senha</mat-card-title>
      </mat-card-header>
  
      <form class="form">
        <mat-card-content>
          <mat-form-field class="full-width">
            <input matInput placeholder="Nova Senha">
          </mat-form-field>
        </mat-card-content>
        <button mat-stroked-button class="btn-login">Alterar</button>
      </form>
    </mat-card> 
  
  </div>