.login-wrapper {
    height: 100%;
}

.login-wrapper .form {
    max-width: 300px;
    width: 100%;
}

.login-wrapper .full-width,
.login-wrapper .btn-login {
    width: 100%;
}

.login-wrapper mat-card-header {
    text-align: center;
    display: block;
    font-weight: 900;
}

.login-wrapper mat-card-header mat-card-title {
    font-size: 30px;
    margin: 0;
    color: var(--main-color);
}

.login-wrapper .mat-stroked-button {
    margin-top: 10px;
    border: 0;
    border-radius: 4px;
    height: 48px;
    font-size: 16px;
    background: var(--main-color);
    color: #ffffff;
    cursor: pointer;
}

.login-wrapper .btn-esqueci {
    border: 0;
    border-radius: 4px;
    height: 20px;
    font-size: 12px;
    background: #ffffff;
    color: var(--main-color);
}

.md-button-right  {
    position: absolute;
    right: 0px;
    margin: 0;
}

.mat-flat-button, .mat-raised-button, .mat-fab, .mat-mini-fab {
    color: #fff;
    background-color: var(--main-color);
}

mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
}

mat-card-title {
    text-align: center;
    padding: 10px;
}

a {
    padding-top: 10px;
    color: var(--main-color);
}

.outherAction {
    display: inline-flex;
}

.postError {
    padding: 20px;
}
